<!DOCTYPE html>
<html>
  <head>
    <title>You are the BEST</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="./main.css" />
  </head>
  <body>
    <h1 class="text-gradient-coral-yellow-dark title center">Hey, you!</h1>
    <p>Make sure to design and develop experiences that make people's lives <strong>simple.</strong></p>
    <!-- <p>You are simply the <em>{{ adjective }}</em> person that I have EVER <em>{{ verb }}</em>.</p> -->
    <p class="small text-gradient-coral-yellow-dark">{dev.all.day}</p>
  </body>
</html>
