<!DOCTYPE html>
<html>
  <head>
    <title>You are the BEST</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="public/main.css" />
  </head>
  <body>
    <h1 class="text-gradient-coral-yellow-dark title center">Hey, you!</h1>
    <p>Make sure to design and develop experiences that make people's lives <strong>simple.</strong></p>
    <p>Your name is <em>{{ name }}</em> and your job is <em>{{ job }}</em>.</p>
    <p class="small text-gradient-coral-yellow-dark">{dev.all.day}</p>
  </body>
</html>
